.dark-theme-form {
  display: flex;
  flex-direction: column;
  background-color: #333; /* Dark background color */
  padding: 30px;
  /* border-radius: 5px; */
  width: 100%; /* Cover the entire width */
}

.dark-theme-input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #555; /* Dark border color */
  background-color: #444; /* Dark input background color */
  color: #fff; /* Text color */
}

.dark-theme-button {
  padding: 10px;
  background-color: #007bff; /* Dark blue button color */
  color: #fff; /* Button text color */
  border: none;
  cursor: pointer;
}

.dark-theme-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* .dark-theme-button {
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
} */

.dark-theme-button.save-button {
  width:50%;
  background-color: #007bff; /* Dark blue button color for Save */
  color: #fff; /* Button text color */
  border-top-left-radius: 5px; /* Add rounded corners to the left */
  border-bottom-left-radius: 5px;
}

.dark-theme-button.cancel-button {
  width: 50%;
  background-color: #dc3545; /* Red button color for Cancel */
  color: #fff; /* Button text color */
  border-top-right-radius: 5px; /* Add rounded corners to the right */
  border-bottom-right-radius: 5px;
}

.dark-theme-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.dark-theme-button.cancel-button:hover {
  background-color: #c82333; /* Darker red on hover for Cancel */
}

.button-container {
  display: flex; /* Arrange buttons horizontally */
  justify-content: space-between; /* Distribute buttons evenly */
}
